.user_subject_chart {
    display: flex; 
    flex-direction: row;
    width: 100%;
}
.user_mark_chart {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
.user_inside_mark_chart {
    display: flex;
    flex-direction: row;
}
.user_inside_mark_button{
    font-size: 8px;
    margin: 0 3px;
}
.submit_link{
    cursor: pointer;  
}
.productsContainer{
    display: flex;
    flex-direction: row;
}
.productsItem{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
